# Descriptive analytics
In this ipynb file, we have a quick and easy way to run queries using the "runQuery(query)" function. Just call that function with your query as its parameter.

### Imports

In [ ]:
# import pandas and sqlalchemy
import pandas as pd
from sqlalchemy import create_engine

# Visualization
import matplotlib.pyplot as plt  # For creating tree visualizations
import seaborn as sns           # For statistical plots
import numpy as np              # very pretty plots

# Machine Learning
# from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold
# from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text
# from sklearn.preprocessing import LabelEncoder
# from sklearn.metrics import (accuracy_score, precision_score, recall_score, 
                        #    f1_score, confusion_matrix, classification_report)

# to run this jupyter book, run:
# pip install ipykernel
# pip install pandas sqlalchemy matplotlib seaborn

### Database and pandas setup

In [ ]:
# connection params
pd.set_option('display.max_rows', 100)        # Default is 10
pd.set_option('display.max_columns', 100)     # Default is 20

engine = create_engine("postgresql+psycopg2://postgres:2424@localhost:5432/bid3000")

### Function for running queries in a try-catch

In [ ]:

# function for running queries
# "**dbInfo" is for "unpacking" dbInfo and passing each key-value
def runQuery(query):
    try:
        with engine.connect() as connection:
            return pd.read_sql_query(query, connection)
    except Exception as e:
        print("Error: ", e)

### Calling the runQuery function with a testquery and print

In [ ]:

# testing the runQuery function with a query
testQuery = """
            SELECT *
            FROM public.fact_order_item
            LIMIT 5;
            """

result = runQuery(testQuery)
print(result)

### Total number of orders

In [ ]:
query = """
        SELECT COUNT(*) AS total_orders
        FROM fact_order;
        """
result = runQuery(query)
total_number_of_orders = result
print(result)

### Top 10 biggest product categories

In [ ]:
query = """
        SELECT product_category_name, COUNT(*) AS total_products
        FROM dim_product
        GROUP BY product_category_name
        ORDER BY total_products DESC
        LIMIT 10;
        """
result = runQuery(query)
ten_biggest_categories = result
print(result)

### Total revenue by payment type

In [ ]:
query = """
        SELECT payment_type, ROUND(SUM(payment_value), 2) AS total_revenue
        FROM fact_payment
        WHERE payment_type != 'not_defined'
        GROUP BY payment_type
        ORDER BY total_revenue DESC;
        """
result = runQuery(query)
revenue_by_payment_type = result
print(result)

### Review scores in a bar plot

In [ ]:
query = """
        SELECT review_score, COUNT(*) AS total_reviews
        FROM fact_review
        GROUP BY review_score
        ORDER BY review_score DESC;
        """

result = runQuery(query)
review_scores_distribution = result

sns.barplot(data=result, x='review_score', y='total_reviews')
plt.title("Review Score Distribution")
plt.xlabel("Review Score")
plt.ylabel("Number of Reviews")
plt.show()

### Profitability by product category in a bar plot

In [ ]:
#
query = """
        SELECT 
            dp.product_category_name,
            ROUND(SUM(foi.price), 2) AS total_revenue,
            ROUND(SUM(foi.freight_value), 2) AS total_freight_cost,
            ROUND(SUM(foi.price - foi.freight_value), 2) AS profitability
        FROM fact_order_item foi
        JOIN dim_product dp 
            ON foi.seq_product_sk = dp.seq_product_sk
        GROUP BY dp.product_category_name
        """

result = runQuery(query)
print(result.describe())

plt.figure(figsize=(14,6))
sns.barplot(data=result, x="product_category_name", y="profitability", palette="viridis")
plt.title("Profitability by Product Category")
plt.xlabel("Product Category")
plt.ylabel("Profitability")
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

### Revenue by month in a line plot

In [ ]:
# revenue by each month
query = """
        SELECT
            EXTRACT(YEAR FROM order_purchase_timestamp::timestamp) AS year,
            EXTRACT(MONTH FROM order_purchase_timestamp::timestamp) AS month,
            SUM(foi.price) AS total_revenue
        FROM fact_order fo
        JOIN fact_order_item foi
            ON fo.seq_order_sk = foi.seq_order_sk
        GROUP BY year, month
        ORDER BY year, month;
        """
result = runQuery(query)
revenue_by_month = result
# print(result)

result['year_month'] = result['year'].astype(str) + '-' + result['month'].astype(int).astype(str).str.zfill(2)
plt.figure(figsize=(12,6))
sns.lineplot(data=result, x='year_month', y='total_revenue', marker='o')
plt.xticks(rotation=45)
plt.title('Monthly Revenue Over Time')
plt.xlabel('Year-Month')
plt.ylabel('Total Revenue')
plt.tight_layout()
plt.show()

### Revenue by state in a bar plot

In [ ]:
# revenue by state
query = """
        SELECT
            dc.customer_state AS state,
            SUM(foi.price) AS total_revenue
        FROM fact_order fo
        JOIN dim_customer dc
            ON fo.seq_customer_sk = dc.seq_customer_sk
        JOIN fact_order_item foi
            ON fo.seq_order_sk = foi.seq_order_sk
        GROUP BY dc.customer_state
        ORDER BY dc.customer_state
        -- LIMIT 10;
        """
result = runQuery(query)
revenue_by_state = result
# print(result)

plt.figure(figsize=(10,6))
sns.barplot(data=result, x='state', y='total_revenue', palette='viridis')
plt.title('Total Revenue by State')
plt.xlabel('State')
plt.ylabel('Total Revenue')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

### Revenue by state in a heatmap

In [ ]:
# Query for revenue by state
query = """
    SELECT
        dc.customer_state AS state,
        ROUND(SUM(foi.price), 2) AS total_revenue
    FROM fact_order fo
    JOIN dim_customer dc ON fo.seq_customer_sk = dc.seq_customer_sk
    JOIN fact_order_item foi ON fo.seq_order_sk = foi.seq_order_sk
    GROUP BY dc.customer_state
    ORDER BY total_revenue DESC;
    """
result = runQuery(query)

top_states = result.head(15)  # Show only top 15 states

plt.figure(figsize=(15,2))
sns.heatmap(
    np.array([top_states['total_revenue']]),
    annot=True,
    fmt=".0f",
    cmap='YlOrRd',  # <-- brighter color map
    xticklabels=top_states['state'],
    yticklabels=['Revenue'],
    annot_kws={"size":8}
)
plt.title('Revenue by Top 15 States Heatmap')
plt.xlabel('State')
plt.ylabel('')
plt.xticks(rotation=45, ha='right', fontsize=10)
plt.tight_layout()
plt.show()

## Amount of orders and moving average + cumulative amount of orders in a plot

In [ ]:
# this is a better answer for the task, as we properly
# user the AVG() and OVER() functions for moving averages
# this query shows us the daily amount of orders in 2017,
# and "moving average" which tells us the average of the last seven days
query = f"""
        -- CTE for daily amount of orders
        WITH daily_orders AS (
            SELECT
                DATE(fo.order_purchase_timestamp) AS order_date,
                COUNT(*) AS daily_order_count
            FROM fact_order fo
            WHERE EXTRACT(YEAR FROM fo.order_purchase_timestamp::timestamp) = 2017
            GROUP BY DATE(fo.order_purchase_timestamp)
        )
        SELECT
            order_date,
            daily_order_count,
            -- 7 day moving average of daily order count
            ROUND(AVG(daily_order_count) OVER (
                ORDER BY order_date
                ROWS BETWEEN 6 PRECEDING AND CURRENT ROW
            ), 2) AS moving_avg_week,
            
            -- cumulative total orders up to current date
            -- 
            SUM(daily_order_count) OVER (
                ORDER BY order_date
            ) AS cumulative_order_count
        FROM daily_orders
        ORDER BY order_date;
        """

result = runQuery(query)
daily_amount_of_orders_w_moving_avg = result
# print(result)

fig, ax1 = plt.subplots(figsize=(14,6))

ax1.plot(result['order_date'], result['daily_order_count'], label='Daily Orders', color='tab:blue')
ax1.plot(result['order_date'], result['moving_avg_week'], label='7-Day Moving Avg', color='tab:orange')
ax1.set_xlabel('Date')
ax1.set_ylabel('Order Count')
ax1.legend(loc='upper left')
ax1.set_title('Daily Orders and 7-Day Moving Average (2017)')
plt.xticks(rotation=45)

### Year-over-year revenue growth in a bar plot

In [ ]:
# year-over-year revenue
query = """
        SELECT
            EXTRACT(YEAR FROM order_purchase_timestamp::timestamp) AS year,
            SUM(foi.price) AS total_revenue
        FROM fact_order fo
        JOIN fact_order_item foi
            ON fo.seq_order_sk = foi.seq_order_sk
        GROUP BY year
        ORDER BY year;
        """

result = runQuery(query)
year_over_year_revenue = result
# print(result)

plt.figure(figsize=(8,5))
sns.barplot(data=result, x='year', y='total_revenue', palette='Blues')
plt.title('Year-over-Year Revenue Growth')
plt.xlabel('Year')
plt.ylabel('Total Revenue')
plt.tight_layout()
plt.show()

### Average delivery time and ratio for on-time delivery in a heatmap

In [ ]:
# query returns average delivery time and a ratio for on-time delivery
# ordered by year, month so we can see progress and eventually use it in 
# a dashboard for business intelligence purposes
# it extracts total seconds with EPOCH() and turns them into days by 
# dividing by (60s * 60m * 24h)
# this is then averaged and rounded and aliased as avg_delivery_days
# for the ratio, we use CASE to return a 1 when orders are delivered on time
# otherwise we get a 0
# we sum and and divide by count to get the ratio
query = """
        SELECT 
            EXTRACT(YEAR FROM fo.order_purchase_timestamp::timestamp) AS year,
            EXTRACT(MONTH FROM fo.order_purchase_timestamp::timestamp) AS month,
            ROUND(AVG(EXTRACT(EPOCH FROM (fo.order_delivered_customer_date - fo.order_purchase_timestamp::timestamp)) / (60*60*24)), 2) AS avg_delivery_days,
            ROUND(100.0 * SUM(CASE WHEN fo.order_delivered_customer_date <= fo.order_estimated_delivery_date THEN 1 ELSE 0 END) 
                / COUNT(*), 2) AS on_time_delivery_percent
        FROM fact_order fo
        WHERE fo.order_status = 'delivered'
        GROUP BY year, month
        ORDER BY year, month;
        """
result = runQuery(query)
# print(result)
avg_delivery_time_and_ratio = result

pivot = result.pivot(index='year', columns='month', values='avg_delivery_days')
plt.figure(figsize=(10,6))
sns.heatmap(pivot, annot=True, fmt=".2f", cmap='Reds')
plt.title('Avg Delivery Days Heatmap')
plt.xlabel('Month')
plt.ylabel('Year')
plt.show()

## Exporting results to CSV

In [ ]:
import os

os.makedirs("results", exist_ok=True)

# List all result variables to export for descriptive analytics
descriptive_results = {
    "revenue_by_month": "results/revenue_by_month.csv",
    "revenue_by_state": "results/revenue_by_state.csv",
    "total_number_of_orders": "results/total_number_of_orders.csv",
    "ten_biggest_categories": "results/ten_biggest_categories.csv",
    "revenue_by_payment_type": "results/revenue_by_payment_type.csv",
    "review_scores_distribution": "results/review_scores_distribution.csv",
    "daily_amount_of_orders_w_moving_avg": "results/daily_amount_of_orders_w_moving_avg.csv",
    "year_over_year_revenue": "results/year_over_year_revenue.csv",
    "avg_delivery_time_and_ratio": "results/avg_delivery_time_and_ratio.csv"
}

# for-loop in a try-catch to export each of the elements 
# in the object defined above
try:
    for var, path in descriptive_results.items():
        if var in globals():
            globals()[var].to_csv(path, index=False)
        else:
            print(f"{var} not found.")
    print("Export done.")
except Exception as e:
    print("Error during export:", e)