# Task 2: Advanced Analytics Implementation (35 Points)
In this ipynb file, we have a quick and easy way to run queries using the "runQuery(query)" function. Just call that function with your query as its parameter.

# Table of Contents

- [Task 2: Advanced Analytics Implementation](#task-2-advanced-analytics-implementation)
    - [Setup](#setup)
        - [Imports](#imports)
        - [Database and pandas setup](#database-and-pandas-setup)
        - [Function for running queries in a try-catch](#function-for-running-queries-in-a-try-catch)
- [1 - Time based trend analysis](#1---time-based-trend-analysis)
    - [Year-over-year growth analysis](#year-over-year-growth-analysis)
    - [Seasonal pattern identification](#seasonal-pattern-identification)
- [2 - Drill-down and Roll-up Operations](#2---drill-down-and-roll-up-operations)
    - [Multi-level aggregation (roll-up)](#multi-level-aggregation-roll-up)
        - [Roll-up revenue by day](#roll-up-revenue-by-day)
        - [Roll-up revenue by month](#roll-up-revenue-by-month)
        - [Roll-up revenue by year](#roll-up-revenue-by-year)
    - [Seasonal pattern identification (drill-down)](#seasonal-pattern-identification-drill-down)
        - [Revenue by city](#revenue-by-city)
        - [Revenue by state](#revenue-by-state)
- [3 - Advanced window function](#3---advanced-window-function)
    - [Ranking percentile calculations](#ranking-percentile-calculations)
    - [Moving averages and cumulative measures](#moving-averages-and-cumulative-measures)
- [4 - Complex filtering and subqueries](#4---complex-filtering-and-subqueries)
    - [Multi-dimensional filtering with EXISTS/IN clauses](#multi-dimensional-filtering-with-existsin-clauses)
    - [Correlated subqueries for comparative analysis](#correlated-subqueries-for-comparative-analysis)
- [5 - Business Intelligence Metrics](#5---business-intelligence-metrics)
    - [Customer/Product profitability analysis](#customerproduct-profitability-analysis)
    - [Performance KPI calculations specific to your domain](#performance-kpi-calculations-specific-to-your-domain)
- [Exporting results to CSV](#exporting-results-to-csv)


*This table of contents has been made using generative AI*

## Setup

### Imports

In [ ]:
# import pandas and sqlalchemy
import pandas as pd
from sqlalchemy import create_engine

# Visualization
import matplotlib.pyplot as plt  # For creating tree visualizations
import seaborn as sns           # For statistical plots

# to run this jupyter book, run:
# pip install ipykernel
# pip install pandas sqlalchemy matplotlib seaborn

### Database and pandas setup

In [ ]:
# connection params
pd.set_option('display.max_rows', 100)        # Default is 10
pd.set_option('display.max_columns', 100)     # Default is 20

engine = create_engine("postgresql+psycopg2://postgres:2424@localhost:5432/bid3000")

### Function for running queries in a try-catch

In [ ]:

# function for running queries
# "**dbInfo" is for "unpacking" dbInfo and passing each key-value

def runQuery(query):
    try:
        with engine.connect() as connection:
            return pd.read_sql_query(query, connection)
    except Exception as e:
        print("Error: ", e)

# EXAMPLE USAGE
#query = """
#       SELECT * FROM table WHERE criteria ORDER BY column ASC/DESC
#       """
#
#result = runQuery(query)
#print(result)
# can use result.head() for first 5 rows only

## 1 - Time based trend analysis

### Year-over-year growth analysis
we do not have a dim table for dates, so we need to extract and convert

In [ ]:

# year-over-year revenue
query = """
        SELECT
            EXTRACT(YEAR FROM order_purchase_timestamp::timestamp) AS year,
            SUM(foi.price) AS total_revenue
        FROM fact_order fo
        JOIN fact_order_item foi
            ON fo.seq_order_sk = foi.seq_order_sk
        GROUP BY year
        ORDER BY year;
        """

result = runQuery(query)
print(result)

### Seasonal pattern identification

In [ ]:
# seasonal pattern identification
# shows avg revenue by month
query = """
        SELECT
            TO_CHAR(order_purchase_timestamp::timestamp, 'Month') AS month_name,
            EXTRACT(MONTH FROM order_purchase_timestamp::timestamp) AS month_number,
            ROUND(AVG(foi.price), 2) AS avg_monthly_revenue
        FROM fact_order fo
        JOIN fact_order_item foi
            ON fo.seq_order_sk = foi.seq_order_sk
        GROUP BY month_name, month_number
        ORDER BY month_number;
        """
result = runQuery(query)
print(result)

## 2 - Drill-down and Roll-up Operations

### Multi-level aggregation (roll-up)

#### Roll-up is "zooming out" and summarizing roll-up revenue by day

In [ ]:
# revenue by each individual day
query = """
        SELECT
            EXTRACT(YEAR FROM order_purchase_timestamp::timestamp) AS year,
            EXTRACT(MONTH FROM order_purchase_timestamp::timestamp) AS month,
            EXTRACT(DAY FROM order_purchase_timestamp::timestamp) AS day,
            SUM(foi.price) AS total_revenue
        FROM fact_order fo
        JOIN fact_order_item foi
            ON fo.seq_order_sk = foi.seq_order_sk
        GROUP BY year, month, day
        ORDER BY year, month, day;
        """
result = runQuery(query)
print(result.head()) # returns 600 rows, so we're not gonna print all in this example

#### Roll-up revenue by month

In [ ]:
# revenue by each month
query = """
        SELECT
            EXTRACT(YEAR FROM order_purchase_timestamp::timestamp) AS year,
            EXTRACT(MONTH FROM order_purchase_timestamp::timestamp) AS month,
            SUM(foi.price) AS total_revenue
        FROM fact_order fo
        JOIN fact_order_item foi
            ON fo.seq_order_sk = foi.seq_order_sk
        GROUP BY year, month
        ORDER BY year, month;
        """
result = runQuery(query)
print(result)

#### Roll-up revenue by year

In [ ]:
# revenue by year
query = """
        SELECT
            EXTRACT(YEAR FROM order_purchase_timestamp::timestamp) AS year,
            SUM(foi.price) AS total_revenue
        FROM fact_order fo
        JOIN fact_order_item foi
            ON fo.seq_order_sk = foi.seq_order_sk
        GROUP BY year
        ORDER BY year;
        """
result = runQuery(query)
print(result)

### Seasonal pattern identification (drill-down)
drill-down is for example to inspect details revenue by city

#### Revenue by city

In [ ]:
# revenue by city
query = """
        SELECT
            dc.customer_state,
            dc.customer_city,
            SUM(foi.price) AS total_revenue
        FROM fact_order fo
        JOIN dim_customer dc
            ON fo.seq_customer_sk = dc.seq_customer_sk
        JOIN fact_order_item foi
            ON fo.seq_order_sk = foi.seq_order_sk
        GROUP BY dc.customer_state, dc.customer_city
        ORDER BY total_revenue, dc.customer_state, dc.customer_city DESC
        -- LIMIT 10;
        """
result = runQuery(query)
print(result) # can use limit 10 in this example to not display 4300 rows

#### Revenue by state

In [ ]:
# revenue by state
query = """
        SELECT
            dc.customer_state AS state,
            SUM(foi.price) AS total_revenue
        FROM fact_order fo
        JOIN dim_customer dc
            ON fo.seq_customer_sk = dc.seq_customer_sk
        JOIN fact_order_item foi
            ON fo.seq_order_sk = foi.seq_order_sk
        GROUP BY dc.customer_state
        ORDER BY dc.customer_state
        -- LIMIT 10;
        """
result = runQuery(query)
print(result) # can use limit 10 in this example to not display 27 rows

## 3 - Advanced window function
using functions such as OVER() and RANK()

### Ranking percentile calculations
Rank sellers by total revenue

In [ ]:
# ranking sellers by total revenue, with percentile rank
query = """
        SELECT
            ds.seller_id,
            SUM(foi.price) AS total_revenue,
            RANK() OVER (ORDER BY SUM(foi.price) DESC) AS revenue_rank,
            PERCENT_RANK() OVER (ORDER BY SUM(foi.price) DESC) AS revenue_percentile
        FROM fact_order fo
        JOIN fact_order_item foi 
            ON fo.seq_order_sk = foi.seq_order_sk
        JOIN dim_seller ds 
            ON foi.seq_seller_sk = ds.seq_seller_sk
        WHERE EXTRACT(YEAR FROM fo.order_purchase_timestamp::timestamp) BETWEEN 2016 AND 2018
        GROUP BY ds.seller_id
        -- LIMIT 10;
        """
result = runQuery(query)
sellers_ranked_by_revenue = result
print(result) # can use limit 10 in this example to not display 3100 rows

### Moving averages and cumulative measures
moving averages means calculating averages over a "moving window."
for example: avg orders per day over a 10-day window.

In [ ]:
# counting orders per day of a given period.
years = [2017] 
months = [10] # october
days = [2,3,4,5,6,7,8] #monday-sunday first week of october 2017

#convert these to proper strings iwth .join()
years_string = ",".join(str(x) for x in years)
months_string = ",".join(str(x) for x in months)
days_string = ",".join(str(x) for x in days)

query = f"""
        SELECT 
            COUNT(fo.order_id) AS incoming_orders,
            EXTRACT(YEAR FROM fo.order_purchase_timestamp::timestamp) AS year,
            EXTRACT(MONTH FROM fo.order_purchase_timestamp::timestamp) AS month,
            EXTRACT(DAY FROM fo.order_purchase_timestamp::timestamp) AS day
        FROM fact_order fo
        WHERE EXTRACT(YEAR FROM fo.order_purchase_timestamp::timestamp) IN ({years_string})
            AND EXTRACT(MONTH FROM fo.order_purchase_timestamp::timestamp) IN ({months_string})
            AND EXTRACT(DAY FROM fo.order_purchase_timestamp::timestamp) IN ({days_string})
        GROUP BY year, month, day
        -- LIMIT 10;
        """

result = runQuery(query)
print(result)

#### moving averages and cumulative measures take 2

In [ ]:
# we're gonna use this as a CTE(common table expression) 
# in the next query using WITH().
# this mini-query finds amount of sales per day
query = """
        SELECT
            DATE(fo.order_purchase_timestamp) AS order_date,
            COUNT(*) AS daily_order_count
        FROM fact_order fo
        WHERE EXTRACT(YEAR FROM fo.order_purchase_timestamp::timestamp) = 2017
        GROUP BY DATE(fo.order_purchase_timestamp)
        """
result = runQuery(query)
print(result)

In [ ]:
# this is a better answer for the task, as we properly
# user the AVG() and OVER() functions for moving averages
# this query shows us the daily amount of orders in 2017,
# and "moving average" which tells us the average of the last seven days
query = f"""
        -- CTE for daily amount of orders
        WITH daily_orders AS (
            SELECT
                DATE(fo.order_purchase_timestamp) AS order_date,
                COUNT(*) AS daily_order_count
            FROM fact_order fo
            WHERE EXTRACT(YEAR FROM fo.order_purchase_timestamp::timestamp) = 2017
            GROUP BY DATE(fo.order_purchase_timestamp)
        )
        SELECT
            order_date,
            daily_order_count,
            -- 7 day moving average of daily order count
            ROUND(AVG(daily_order_count) OVER (
                ORDER BY order_date
                ROWS BETWEEN 6 PRECEDING AND CURRENT ROW
            ), 2) AS moving_avg_week,
            
            -- cumulative total orders up to current date
            -- 
            SUM(daily_order_count) OVER (
                ORDER BY order_date
            ) AS cumulative_order_count
        FROM daily_orders
        ORDER BY order_date;
        """

result = runQuery(query)
print(result)

## 4 - Complex filtering and subqueries

### Multi-dimensional filtering with EXISTS/IN clauses

In [ ]:

# we will use this subquery in the next task, 
# to find product SK-s, joined to dim_customer
# to link each order item to its customer
# and groups by product
# for each product, it counts the number of 
# unique cities with DISTINCT() to see where its sold
# HAVING() is used to count and say
# it should only return the products
# that are sold in more than 150 different cities
query = """
        SELECT foi.seq_product_sk
        FROM fact_order_item foi
        JOIN fact_order fo ON foi.seq_order_sk = fo.seq_order_sk
        JOIN dim_customer dc ON fo.seq_customer_sk = dc.seq_customer_sk
        GROUP BY foi.seq_product_sk
        HAVING COUNT(DISTINCT dc.customer_city) > 150
        """
result = runQuery(query)
print(result)

In [ ]:
# this query returns product that were sold in 
# more than 150 different cities
# 
# it uses the IN() function with the subquery above
# 
query = """
    SELECT dp.product_id, dp.product_category_name
    FROM dim_product dp
    WHERE dp.seq_product_sk IN (
        SELECT foi.seq_product_sk
        FROM fact_order_item foi
        JOIN fact_order fo ON foi.seq_order_sk = fo.seq_order_sk
        JOIN dim_customer dc ON fo.seq_customer_sk = dc.seq_customer_sk
        GROUP BY foi.seq_product_sk
        HAVING COUNT(DISTINCT dc.customer_city) > 150
    );
        """
result = runQuery(query)
products_sold_in_150p_cities = result
print(result)

### Correlated subqueries for comparative analysis

In [ ]:
# query returns
# products with better average review scores than others average
query = """
        SELECT 
            dp.product_category_name,
            dp.product_id,
            ROUND(AVG(fr.review_score), 2) AS avg_product_score
        FROM fact_review fr
        JOIN fact_order fo 
            ON fr.seq_order_sk = fo.seq_order_sk
        JOIN fact_order_item foi 
            ON fo.seq_order_sk = foi.seq_order_sk
        JOIN dim_product dp 
            ON foi.seq_product_sk = dp.seq_product_sk
        GROUP BY dp.product_category_name, dp.product_id
        HAVING AVG(fr.review_score) > (
            SELECT AVG(review_score) 
            FROM fact_review
        )
        ORDER BY avg_product_score DESC;
        """
result = runQuery(query)
print(result)

## 5 - Business Intelligence Metrics

### Customer/Product profitability analysis

In [ ]:
# profits for each product category
query = """
        SELECT 
            dp.product_category_name,
            ROUND(SUM(foi.price), 2) AS total_revenue,
            ROUND(SUM(foi.freight_value), 2) AS total_freight_cost,
            ROUND(SUM(foi.price - foi.freight_value), 2) AS profitability
        FROM fact_order_item foi
        JOIN dim_product dp 
            ON foi.seq_product_sk = dp.seq_product_sk
        GROUP BY dp.product_category_name
        ORDER BY profitability DESC;
        """
result = runQuery(query)
product_category_profitabiliy = result
print(result)

### Performance KPI calculations specific to your domain

In [ ]:
# query returns average delivery time and a ratio for on-time delivery
# ordered by year, month so we can see progress and eventually use it in 
# a dashboard for business intelligence purposes
# it extracts total seconds with EPOCH() and turns them into days by 
# dividing by (60s * 60m * 24h)
# this is then averaged and rounded and aliased as avg_delivery_days
# for the ratio, we use CASE to return a 1 when orders are delivered on time
# otherwise we get a 0
# we sum and and divide by count to get the ratio
query = """
        SELECT 
            EXTRACT(YEAR FROM fo.order_purchase_timestamp::timestamp) AS year,
            EXTRACT(MONTH FROM fo.order_purchase_timestamp::timestamp) AS month,
            ROUND(AVG(EXTRACT(EPOCH FROM (fo.order_delivered_customer_date - fo.order_purchase_timestamp::timestamp)) / (60*60*24)), 2) AS avg_delivery_days,
            ROUND(100.0 * SUM(CASE WHEN fo.order_delivered_customer_date <= fo.order_estimated_delivery_date THEN 1 ELSE 0 END) 
                / COUNT(*), 2) AS on_time_delivery_percent
        FROM fact_order fo
        WHERE fo.order_status = 'delivered'
        GROUP BY year, month
        ORDER BY year, month;
        """
result = runQuery(query)
print(result)

In [ ]:
# assuming the freight value has a negative impact on profits
# profits over time
query = """
        SELECT 
            EXTRACT(YEAR FROM fo.order_purchase_timestamp::timestamp) AS year,
            EXTRACT(MONTH FROM fo.order_purchase_timestamp::timestamp) AS month,
            ROUND(SUM(foi.price - foi.freight_value), 2) AS monthly_profitability
        FROM fact_order_item foi
        JOIN fact_order fo 
            ON foi.seq_order_sk = fo.seq_order_sk
        WHERE fo.order_status = 'delivered'
        GROUP BY year, month
        ORDER BY year, month;
        """
result = runQuery(query)
monthly_profit = result
print(result)

## Exporting results to CSV

In [ ]:
import os

# into Analytics/results/
export_folder = os.path.join("..", "Analytics", "results")
os.makedirs(export_folder, exist_ok=True)

#
advanced_results = {
    "product_category_profitabiliy": os.path.join(export_folder, "product_category_profitability.csv"),
    "sellers_ranked_by_revenue": os.path.join(export_folder, "sellers_ranked_by_revenue.csv"),
    "products_sold_in_150p_cities": os.path.join(export_folder, "products_sold_in_150p_cities.csv"),
    "monthly_profit": os.path.join(export_folder, "monthly_profitability_reviews.csv")
}

try:
    for var, path in advanced_results.items():
        if var in globals():
            globals()[var].to_csv(path, index=False)
        else:
            print(f"{var} not found.")
    print("Export done.")
except Exception as e:
    print("Error during export:", e)